.nav-bg{
    height: 5rem;
    width: 100%;
    background-color: #003A33;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.927)!important;
}

.border {
    border-radius: 18px;
}

.btn-primary {
    color: #fff;
    background-color: #003A33;
    border-color: #003A33;
}

.btn-primary:hover{
    background-color: #002823;
}

.payment-option{
    font-weight: 300!important;
    font-size: 1rem!important;
    margin-top: 0.5rem!important;
}

.form-cancel{
    text-decoration: none;
    color: black;
}

/*confirmation modal*/

.modal-confirm {		
	color: black;
	width: 325px;
	font-size: 14px;
}


.modal-confirm .modal-content {
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #003A33;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}

.modal-confirm.modal-dialog {
    position: absolute;
    z-index: 2;
    margin-top: 13.5rem;
    margin-left: 29rem;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.81);
}

.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #003A33;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #003A33;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

.bg-modal{
    position: absolute;
    z-index: 1;
    height: 103vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.433);
}