@import url(./animation.css);


*{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-stretch: wider;
    overflow-x:inherit;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-color {
    background-color: #ffffff00;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-left: -2rem;
}

.user-navigation{
    margin-top: -1.2rem;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100rem!important;
}

.page-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filler{
    width: 5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #77c0e3;
}

img, svg {
    vertical-align: middle;
    height: 118px;
    margin-top: -4px;
}
.mx-2 {
    display: inherit;
}

.message,.account,.separator,.login{
    height: 26px;
    margin-top: 1rem;
}

.message{
    margin-left: -2rem;
}

.separator{
    margin-top: 1.5rem;
}



/*sections------------------------------------------------------------------------------*/

.section-attrib{
    max-height: 120vh!important;
    max-width: 100vw!important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}


/*home-----------------------------------------------------------------------------*/
.sticky {
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.538);
    background-color: #337c73;

}

.section-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 500vh;
}

.section-1{
    background-image:linear-gradient(to left, rgba(152, 157, 154, 0.586),rgba(42, 152, 137, 0.701)), url('../static/images/home_img.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -5rem;
}

.content-img{
    margin-left: 5rem;
    margin-top: 19rem
}

.home-logo, .home-divider{
    height: 18rem;
}

.home-divider{
    margin-left: 2rem;
}
.site-name{
    margin-top: 18.5rem;
    margin-left: 1rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
}

.site-name p{
    font-size: 5rem;
    color: white;
    line-height: 5rem;
}

.site-buttons {
    display: flex;
    flex-direction: row;
    place-self: flex-start;
    margin-left: -2rem;
    margin-top: 0.65rem;
}

.site-btn {
    width: 7rem;
    text-align: -webkit-center;
    border-radius: 17px; 
    margin-left: 2rem;
    transition: .4s cubic-bezier(0.21, 0.05, 0, 1.11);
}

.book-online{
    background-color: #003A33;
}

.book-online a{
    text-decoration: none;
    color: white;
}

.contact-us{
    background-color: white;
}
.contact-us a{
    text-decoration: none;
    color:#003A33;
}

.site-btn:hover{
    transform: scale(0.98);
}

.home-doctor{
    margin-top: 10.5rem;
    margin-left: 18rem;
}

.home-doctor img{
    height: 35.5rem;
}


/*about------------------------------------------------------------------------------*/

.section-content-about {
    margin-top: 0rem;
    height: 20rem;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-section{
    display: grid;
    grid-template-columns: repeat(4,19rem);
    grid-template-rows: repeat(1,13rem);
    column-gap: .5rem;
    margin-bottom: 4rem;
}

.about-border{
    border: 1rem solid #003A33;
    transition: 1s cubic-bezier(0.21, 0.05, 0, 1.11);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.538);
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-content{
    position: absolute;
    z-index: 2;
    height: 10rem;
    width: 16rem;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: .4s cubic-bezier(0.21, 0.05, 0, 1.11)!important;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.538);
}

.qoute-marks{
    position:absolute;
    z-index: 5; 
    height: 11.5rem; 
    width: 19rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;

}

/*services------------------------------------------------------------------------------*/
.section-position-3{
    margin-top: 0rem;
}

.section-content-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #afaaaa65;
    width: 400vh;
}

.section-content-services h1 {
    margin-top: 3rem;
    font-size: 4rem;
}

.h5-service{
    margin-left: 0rem;
}

.list-services{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,12rem);
    grid-template-rows: repeat(2,12rem);
    margin-top: 4rem;
    margin-bottom: 4rem;
    grid-gap: 3rem;
    transition: .5s cubic-bezier(0.25, 0.1, 0, 1.02);
    
}

.bck-btn {
    display: none;
    margin-right: 25rem;
    margin-top: -0.5rem;
    transition: .5s cubic-bezier(0.25, 0.1, 0, 1.02);
}

.bck-btn:hover{
    transform: scale(1.1);
}

.service-type{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.81);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    font-size: .8rem;
    text-align: center;
    padding: 1rem 1rem;
    transition: .5s cubic-bezier(0.25, 0.1, 0, 1.02);
    cursor: pointer;
    animation: null 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1 normal forwards;
    overflow: hidden;
   
}

.list-services img{
    height: 50px;
    width: 50px;
}

.service-hover:hover{
    border: 2px solid #003A33;
    transform: scale(1.1);
}

.divider-service{
    display: none;
    width: 90%;
    margin-left: -.5rem!important;
    margin-bottom: 1rem;
    height: 0px;
    border-bottom: 2px solid #003a33;
    box-shadow: 0 2px 5px rgb(0 0 0 / 81%);
}

.sub-service-attribute{
    margin-top: -1rem;
    height: 15rem;
    padding: 2rem 2rem;
}

.card-service{
    margin-top: -1rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.81);
    max-height: 10rem;
    border-radius: 18px;
    overflow: hidden;
    padding: 1rem 1rem;
}
.service-name{
    margin-left: 0rem;
    overflow: hidden;
}
.text-truncate {
    white-space: inherit;
    width: 13rem;
    overflow: hidden;
}
.sub-2{
    text-align: left;
}
.bg-image{
    width: 5rem;
}

.bg-image img{
    height: 6rem;
}


/*products------------------------------------------------------------------------------*/

.horizontal-product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.site-products{
    width: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 17rem;
}

.site-products img{
    height: 5rem;
}

.site-products h1{
    font-size: 5rem;
}
.pr-entity {
    height: 15rem;
    width: 35rem;
    border-radius: 45px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.533);
    transition: 5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .8s cubic-bezier(0.25, 0.1, 0, 1.02);
}

.site-order{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: inherit;
    margin-top: 4rem;
}

.site-order-vertical{
    margin-top: 13rem;
}

.site-order h2{
    color: white;
    font-size: 4rem;
}


.site-order-vertical h2{
    font-size: 3.5rem;
}

.pre-order-btn{
    background-color: white;
    margin-left: 16rem;
}

.pre-order-btn-vertical{
    background-color: white;
    margin-left: 9rem;
}

.pr-1{
    background-image:linear-gradient(rgba(152, 157, 154, 0),rgba(0, 58, 51, 0.559)), url('../static/images/floss.png');
    background-size: cover;
    background-position: center;
}

.pr-2{
    background-image:linear-gradient(rgba(152, 157, 154, 0),rgb(0, 58, 51, 0.559)), url('../static/images/toothpaste.png');
    background-size: cover;
    background-position: center;
}

.pr-3 {
    background-image: linear-gradient(rgba(152, 157, 154, 0),rgb(0, 58, 51, 0.559)), url('../static/images/toothbrush.png');
    background-size: cover;
    background-position: center;
    height: 31rem;
    width: 20rem;
    margin-top: 13rem;
    margin-left: 2rem;
}



.pr-1:hover{
    background-image:linear-gradient(rgba(152, 157, 154, 0.523),rgb(0, 58, 51)), url('../static/images/floss.png');
}

.pr-2:hover{
    background-image:linear-gradient(rgba(152, 157, 154, 0.523),rgb(0, 58, 51)), url('../static/images/toothpaste.png');
}
.pr-3:hover{
    background-image:linear-gradient(rgba(152, 157, 154, 0.523),rgb(0, 58, 51)), url('../static/images/toothbrush.png');
}

.pr-entity:hover .site-order{
    display: flex;
}


/*footer------------------------------------------------------------------------------*/

.contact-div{
    background-color: #002438;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

}

.contact-filler{
    width: 7rem;
}

.site-trademark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -3rem;
}

.form-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.trademark-logo {
    height: 20rem;
    width: 19rem;
}

.trademark-divider {
    margin-top: -5rem;
    height: 0.1rem;
    width: 21rem;
}

.site-trademark h6{
    margin-top: 0.5rem;
    color: white;
    font-size: 0.8rem;
}

.soc-med {
    display: flex;
    flex-direction: row;
    width: 21rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.soc-med img{
    height: 3rem;
    width: 3rem;
}

.form-img {
    height: 29rem;
    margin-top: .0rem;
    margin-left: 6.5rem;
}

.section-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24rem;
    height: 29rem;
    padding: 1rem;
    background-color: #457B9D;
    text-align: center;
}

.query-message{
    height: 15rem;
}

.query-email{
    height: 3rem;
}
.section-content form input,textarea{
    background-color: #457B9D;
    outline: none;
    border-radius: 10px;
    margin-top: 0.5rem;
    border: 2px solid #003A33;
    background-color: rgb(255, 255, 255);
}

.section-content form h4 {
    color: white;
    font-size: 2.5rem;
}

.section-content form button {
    border: none;
    color: #003A33;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0rem;
}

.section-content form input::placeholder,
.section-content form textarea::placeholder{
    color: #9C9C9C;
}

.section-6{
    background-color: #001A28;
}

.section-content h6{
    margin-top: 1.5rem;
    color: white;
}

/*scrollbar------------------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 105, 105); 
  }