{%extends "base.html"%}
{%block title%}Machica Dental Clinic{%endblock%}

{%block content%}
<section class="section-attrib">
    <div id="home" class="section-content section-1">
        <div class="content-img">
            <img class="home-logo" src="{{url_for('static', filename='images/home-logo.png')}}" alt="">
            <img class="home-divider" src="{{url_for('static', filename='images/home_rec.png')}}" alt="">
        </div>
        <div class="site-name">
            <p>Machica
               Dental
               Clinic
            </p>
            <div class="site-buttons">
                <div class="site-btn book-online"><a href="{{url_for('appointment')}}" style="font-weight:500">Book Online</a></div>
                <div class="site-btn contact-us"><a href="#contacts" style="font-weight:500">Contact Us</a></div>
            </div>
        </div>
        <div class="home-doctor">
            <img src="{{url_for('static', filename='images/doctor_logo.png')}}" alt="">
        </div>
    </div>
</section>
<section id="about" class="section-attrib">
    <div class="section-content-about section-2">
        <h1 style="font-size: 4rem; "><span style="color: #003A33">About</span> Us</h1>
        <div class="about-section">
            <div class="about-border">
                <div class="qoute-marks">
                    <img style="background-color: #003A33; height: 30px; width: 30px; padding: 5px 5px; transform: scaleX(-1);" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                    <img style="background-color: #003A33; height: 30px; width: 30px; margin-left: auto; padding: 5px 5px;" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                </div>
                <div class="border-content">
                    <h5 style="margin-left: -.1rem; font-weight: 600; pointer-events: none;">THE<span style="color: #003A33; pointer-events: none;"> VISION</span></h5>
                    <p style="pointer-events: none;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="about-border">
                <div class="qoute-marks">
                    <img style="background-color: #003A33; height: 30px; width: 30px; padding: 5px 5px; transform: scaleX(-1);" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                    <img style="background-color: #003A33; height: 30px; width: 30px; margin-left: auto; padding: 5px 5px;" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                </div>
                <div class="border-content">
                    <h5 style="margin-left: -.1rem; font-weight: 600; pointer-events: none;">THE<span style="color: #003A33; pointer-events: none;"> MISSION</span></h5>
                    <p style="pointer-events: none;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="about-border">
                <div class="qoute-marks">
                    <img style="background-color: #003A33; height: 30px; width: 30px; padding: 5px 5px; transform: scaleX(-1);" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                    <img style="background-color: #003A33; height: 30px; width: 30px; margin-left: auto; padding: 5px 5px;" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                </div>
                <div class="border-content">
                    <h5 style="margin-left: -.1rem; font-weight: 600; pointer-events: none;">THE<span style="color: #003A33; pointer-events: none;"> VALUES</span></h5>
                    <p style="pointer-events: none;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="about-border">
                <div class="qoute-marks">
                    <img style="background-color: #003A33; height: 30px; width: 30px; padding: 5px 5px; transform: scaleX(-1);" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                    <img style="background-color: #003A33; height: 30px; width: 30px; margin-left: auto; padding: 5px 5px;" src="https://img.icons8.com/ios/50/FFFFFF/quote-right.png" alt="">
                </div>
                <div class="border-content">
                    <h5 style="margin-left: -.1rem; font-weight: 600; pointer-events: none;">THE<span style="color: #003A33; pointer-events: none;"> PEOPLE</span></h5>
                    <p style="pointer-events: none;">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class=" section-attrib section-position-3">
    <div class="section-content-services section-3">
        <h1><span style="color: #003A33">Dental</span> Services</h1>
        <div class="list-services">   
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> One</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> Two</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> Three</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> Four</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> Five</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
            <div class="service-type service-hover">
                <img class="bck-btn" id="bck-btn" src="https://img.icons8.com/glyph-neue/64/003A33/circled-left-2.png" alt="">
                <img src="{{url_for('static', filename='images/service-ico.png')}}" alt="">
                <h5 class="h5-service" style="overflow: hidden;"><span style="color: #003A33">Service</span> Six</h5>
                <p style="font-weight:500; overflow: hidden;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="divider-service"></div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="section-attrib">
    <div class="section-content section-4">
        <div class="horizontal-product">
            <div class="site-products">
                  <h1>Products</h1>
                  <img src="{{url_for('static', filename='images/product-logo.png')}}" alt="">
            </div>
            <div class="pr-entity pr-1">
                <div class="site-order">
                     <h2>Dental Floss</h2>
                <div class="site-buttons">
                    <div class="site-btn contact-us pre-order-btn on-hover"><a href="{{url_for('order')}}" style="font-weight:500">pre-order</a></div>
                </div>
                </div>
            </div>
            <div class="pr-entity pr-2">
                <div class="site-order">
                     <h2>Toothpaste</h2>
                <div class="site-buttons">
                    <div class="site-btn contact-us pre-order-btn on-hover"><a href="{{url_for('order')}}" style="font-weight:500">pre-order</a></div>
                </div>
                </div>
            </div>
        </div>
        <div class="pr-entity pr-3">
            <div class="site-order site-order-vertical">
                <h2>Toothbrush</h2>
           <div class="site-buttons">
               <div class="site-btn contact-us pre-order-btn-vertical on-hover"><a href="{{url_for('order')}}" style="font-weight:500">pre-order</a></div>
           </div>
           </div>
        </div>
    </div>
</section>
<section id="contacts" class="section-attrib">
    <div class="section-content section-5">
        <div class="contact-div">
            <span class="contact-filler"></span>
            <div class="site-trademark">
                <img class="trademark-logo" src="{{url_for('static', filename='images/nav_logo.png')}}" alt="">
                <img class="trademark-divider" src="{{url_for('static', filename='images/trademark-divider.png')}}" alt="">
                <h6>Unit #1, G/F Aspiras Building, Consolacion Street</h6>
                <div class="soc-med">
                    <a href="#">
                        <img src="{{url_for('static', filename='images/facebook.png')}}" alt="">
                    </a>
                    <a href="#">
                        <img src="{{url_for('static', filename='images/instagram.png')}}" alt="">
                    </a>
                    <a href="#">
                        <img src="{{url_for('static', filename='images/twitter.png')}}" alt="">
                    </a>
                </div>
            </div>
            <div class="form-contact">
                <img class="form-img" src="{{url_for('static', filename='images/form-img.jpg')}}" alt="">
                <form method="post" action="">
                    <h4>Inquiry? Chat us.</h4>
                    <input class="query-email" type="email" name="email" id="query-email" placeholder="Email">
                    <textarea class="query-message" name="message" id="query-message" placeholder="Message" rows="4" cols="50"></textarea>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <strong>Success!</strong>{{message}}
                            </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <button class="site-btn" type="submit">Send mail</button>
                </form>
           </div>
        </div>            
    </div>
</section>
<section id="section-6" class="section-attrib">
    <div class="section-content section-6">
        <h6>Copyright © Machica Dental CLinic 2022</h6>
    </div>
</section>
{%endblock%}