{%extends "base.html"%}
{%block title%}login{%endblock%}

{%block content%}
<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{{url_for('static', filename='images/login-img.jpg')}}"
                  alt="login form" class="img-fluid" style="border-radius: 18px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form method="post" class="form-login">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0" style="color: #003A33;">Welcome<h1 class="fw-bold">  back</h1></span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3 h5-label" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" name="email" class="form-control form-control-lg" placeholder="Email address"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" name="password" class="form-control form-control-lg" placeholder="Password"/>
                    </div>
                    <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                     {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong>{{message}}
                              </div>
                            {% endfor %}
                        {% endif %}
                      {% endwith %}
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: black;">Don't have an account? <a href="{{url_for('register', error=False)}}"
                        style="color: #7AC4E7;"> Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}