{%extends "base.html"%}
{%block title%}register{%endblock%}

{%block content%}
<section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="{{url_for('static', filename='images/register-image.jpg')}}"
                  alt="Sample photo" class="img-fluid2"
                  style="border-radius: 18px;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <form method="post" class="form-register" action="">
                  <h2 class="mb-5 "><span style="color: #003A33; font-weight: 400;">Create</span> your account</h2>

                  <h5>Register your account</h5>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1m" class="form-control form-control-lg"  name="first-name" placeholder="First name"/>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" name="last-name" placeholder="Last Name"/>
                      </div>
                    </div>
                  </div>
  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                   <select class="form-select form-control-lg" name='gender' aria-label="Default select example" >
                    <option value="male">Gender</option>
                    <option value="male">Male</option>
                    <option value="female">female</option>
                    <option value="other">other</option>
                  </select>

                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example9" class="form-control form-control-lg" name="phone-number" placeholder="Phone number #"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example90" class="form-control form-control-lg" name="email" placeholder="Email" />
                  </div>
                  
                 
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example99" class="form-control form-control-lg" name="password" placeholder="Password"/>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example97" class="form-control form-control-lg" name="confirm-password" placeholder="Confirm password"/>
                  </div>
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Holy guacamole!</strong>{{message}}
                              </div>
                            {% endfor %}
                        {% endif %}
                      {% endwith %}
                  <div class="d-flex justify-content-end pt-3">
                    <button type="submit" class="btn-dark btn btn-warning btn-lg ms-2">Submit form</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{%endblock%}